kokoro[all]
fastapi
uvicorn
pydantic
torch
torchaudio
torchvision
numpy==1.26.4
librosa==0.11.0
scipy==1.11.1
soundfile==0.12.1
noisereduce
pedalboard
soxr
faiss-cpu
torchcrepe
torchfcpe
einops
transformers
PyYAML
requests
tqdm
